/* ABOUT ME | PORTFOLIO WEBSITE */

/* NavBar CSS */
/* Blue sqaure in the about page */
.dot{
    margin-top: 7px;
}

a{
    padding: 10px;
    margin: 15px 5px;
}
/* NavBar CSS */


body{
    background: linear-gradient(
        to right,
        #FFDCA9 0%,
        #FFDCA9 40%,
        white 40%,
        white 100%
      );
}

.Middle-Container{
    width: 1000px;
    margin: 100px 275px;
    padding: 10px 40px;
    /* border: 2px solid yellow; */
    display: flex;
    
}

.Middle-Container-1, .Middle-Container-2{
    padding: 20px;
    /* border: 5px solid turquoise; */
    display: inline-block;

}

.Middle-Container-1{
    margin-left: 50px;
}

.Middle-Container-1-1{
    background-color: #FAAB78;
    width: 375px;
    height: 497px;
    padding: 55px;
    /* border: 5px solid black; */
    text-align: center;
}

.Profile-Photo{
    border-radius: 50%;
    margin-bottom: 25px;
}

.C-1-1_Name{
    padding: 10px;
    font-size: 20px;
}

.line{
    position: relative;
    left: 100px;
    border: 1px solid #0002A1;
    width: 50px;
    margin: 20px 0px;
}

.title{
    font-size: 16px;
}

.Middle-Container-1-2{
    background-color: whitesmoke;
    width: 375px;
    height: 53px;
    padding: 12px;
    text-align: center;
    /* border: 5px solid black; */
    border-top: 0px;
}

li{
    display: inline-block;
    list-style: none;
}

.Middle-Container-2-1{
    width: 375px;
    height: 550px;
    padding: 20px;
    /* border: 5px solid black; */
}

.heading1{
    margin: 0px;
    padding: 5px 0px;
    font-size: 68px;
}

.heading2{
    margin: 0px;
}

button{
    height: 35px;
    width: 130px;
    border-radius: 80%;
    justify-content: center;
    align-items: center;

}

.about_P{
    padding: 5px 0px;
    margin: 0px;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}


.Bottom-Container{
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    /* border: 2px solid black; */
}

.footer{
    text-align: center;
}


/* For a responsive two column layout */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        }
  }